

.name-link {
    position: absolute;
    opacity: 0;
    float: left;
    transform: translateX(-300px);
    transition: 0.1s ease-in-out;
    pointer-events: none;
}

.menu-link:hover .name-link {
    opacity: 1;
    position: relative;
    transform: translateX(0px);
}