.dropdown-menu-container {
    position: relative;
    width: 100%;
  }
  
  .menu-dropdown {
    position: absolute;
    height: 100vh;
    top: 55px; /* Ajusta la posición superior según tu diseño */
    right: 0;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.2s ease, transform 0.2s ease; /* Transiciones para animación */
    opacity: 0; /* Ocultar por defecto */
    transform-origin: top right; /* Punto de origen de la transformación */
    width: 100%; /* Ancho del menú desplegable */
    pointer-events: none; /* Para evitar que el menú desplegable interfiera con los clics en el botón */
  
    &.open {
      opacity: 1; /* Mostrar */
      transform: scaleY(1); /* Mostrar */
      pointer-events: auto; /* Permitir clics en el menú desplegable */
    }
  
    &.closed {
      opacity: 0; /* Ocultar */
      transform: scaleY(0); /* Ocultar */
    }
  }
  
  /* Estilo del botón cuando el menú está cerrado */
/* .menu-button-closed {
  background-color: black;
  color: white;
} */

/* Estilo del botón cuando el menú está abierto */
.menu-button-open {
  background-color: rgb(222, 222, 222);
  color: black;
}


  @media (min-width: 700px) {
    .menu-dropdown {
      background-color: blue;
      height: max-content;
      top: 48.4px;
      width: 30%;
    }
  }