.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.628); /* Color oscuro con opacidad */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Oculta el menú por defecto */
  width: 250px;
  height: 100%;
  background-color: #fff; /* Color de fondo del menú */
  transition: left 0.2s;
  z-index: 1000; /* Asegura que esté por encima de la capa de fondo oscuro */
}

.sidebar.open {
  left: 0; /* Muestra el menú cuando está abierto */
}

.closeBtn {
  position: relative;
  top: 18px;
  float: right;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  transition: 0.2s;
  border-radius: 45% 0 0 45%;
}

.closeBtn:hover {
  background-color: rgba(142, 142, 142, 0.42);
}

.lista {
  margin-top: 31%;
}

.secciones {
  padding: 8px;
  background-color: rgb(199, 48, 48);
  border-radius: 20px;
}

