@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Barlow", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-header {
    background-color: rgba(255, 255, 255, 0.432);
    backdrop-filter: blur(4px);
    gap: 10px;
}

.nav-header button {
    font-weight: bold;
}

.nav-header h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.3rem;
    margin-top: 3px;
    font-weight: 600;
    cursor: default;
}

.nav-header span {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.3rem;
    margin-top: 3px;
    font-weight: 600;
    cursor: default;
}


.sidenav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px    ;
    transition: 0.2s;
    border-radius: 50%;
    font-size: 25px;
}

.sidenav-button:hover {
    background-color: rgba(128, 128, 128, 0.176);
}



@media screen and (max-width: 740px){

    .body {
        padding: 10px 20px;
    }

    /* TARJETAS */
    .cards {
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }
    .card-item {
        height: 140px;
        flex: 0 0 calc(50% - 20px);
    } 
    .card-content {
        margin-top: 40px;
    }
}
